language: php

php:
  - 5.6
  - 7
  - hhvm

sudo: false

install:
  - composer install --no-interaction

script:
  - composer test

after_success:
  - if [ "$TRAVIS_PHP_VERSION" == "5.6" ]; then vendor/bin/test-reporter; fi
  - if [ "$TRAVIS_PHP_VERSION" == "5.6" ]; then vendor/bin/coveralls -v; fi

addons:
  code_climate:
    repo_token: a8c2d28a3fe610d1e04dc84858902b7212af113a693666ec444f1433b81efa86
